{% extends 'base.html' %}
{% block title %}accueil Kosi ai{% endblock %}

{% block content %}
{% if g.user %}
<header>
    <p>Vous êtes connecté en tant que {{ context.entreprise.nom }}.</p>
    <div>
        <a class="btn-back" href="{{ url_for('views.add_agent') }}">Ajouter un agent</a>
        <ul>
                {% if context.agents is not none %}
                    {% for agent in context["agents"] %}
                        <li><a href="{{ url_for('views.chat_bot', agent_name=agent['agent_name']) }}">{{agent['agent_name']}} agent</a></li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
    </div>
</header>
<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
</section>
{% endblock %}
</html>
