{% extends 'base.html' %}
{% block title %}accueil Kosi ai{% endblock %}

{% block content %}
    <h1>App_chatbot</h1>
    
    <ul>
        {% if g.user %}
            <li><span>{{ g.user['nom'] }}</span></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
            <p>Vous êtes connecté en tant que {{ context.entreprise.nom }}.</p>
            <li><a href="{{ url_for('views.add_agent') }}">Ajouter un agent</a></li>
            {% if context.agents is not none %}
                {% for agent in context["agents"] %}
                    <li><a href="{{ url_for('views.chat_bot', agent_name=agent['agent_name']) }}">{{agent['agent_name']}} agent</a></li>
                {% endfor %}
            {% endif %}
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
            <h3> Hello, welcome to kosi AI, please ask the link of agent to you provider !</h3>
            test link: <a href="http://156.67.29.207:5000/Hermann">Hermann agent</a>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        <h2>Welcome to App_chatbot</h2>
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <p>This is the home page of App_chatbot.</p>
</section>
{% endblock %}
</html>
