<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind+Madurai">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="icon" href="/static/media/favicon.ico" type="image/x-icon">
    <!-- <link rel="icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/6080/6080697.png"> -->
</head>
<body>
    <nav>
        <h1>Kosi ai</h1>
    </nav>
    <section class="content">
        <header>
            {% block header %} {% endblock %}
        </header>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <h1>KOSI AI</h1>
    </footer>
</body>
</html>