{% extends 'base.html' %}

{% block header %}
<h1 class="title-page">{% block title %}Discutez avec Kosi{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% if context['message'] %}
    <p>{{ context['message'] }}</p>
  {% endif %}

  {% if context['history'] %}
      <div class="conversation-history" id="markdown-content">
          {% for exchange in context['history'] %}
              <p class="user-input-p">
                  <span class="user-icon">U</span>
                  <span class="user-input"><strong></strong>  {{ exchange['user'] }}</span>
              </p>
              <p class="chatbot-response-p">
                  <span class="chatbot-icon"><img src="{{ url_for('static', filename='media/favicon.ico') }}" ></span>
                  <span class="chatbot-response"><strong> </strong>{{ exchange['chatbot'] }}</span>
              </p>
          {% endfor %}
      </div>
  {% endif %}
<p>{{ context['agent_name'] }}</p>
  <form class="form-login" method="post">
    <label for="prompt">Discutez</label>
    <input name="prompt" id="prompt" required>
    <input class="btn-log" type="submit" value="Envoyer">
  </form>
{% endblock %}
