{% extends 'base.html' %}

{% block header %}
<h1 class="title-page">{% block title %}Discutez avec Kosi{% endblock %}</h1>
{% endblock %}

{% block content %}

  {% if context['message'] %}
    <p>{{ context['message'] }}</p>
  {% endif %}

  {% if context['history'] %}
      <div class="conversation-history" id="markdown-content">
          {% for exchange in context['history'] %}
              <p style="text-align: left;"><strong>Vous:</strong>  {{ exchange['user'] }}</p>
              <p class="markdown-text"></p><strong>Chatbot: </strong>{{ exchange['chatbot'] }}</p>
          {% endfor %}
      </div>
  {% endif %}

  <form class="form-login" method="post">
    <label for="prompt">Discutez</label>
    <input name="prompt" id="prompt" required>
    <input class="btn-log" type="submit" value="Envoyer">
  </form>
{% endblock %}