{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="nom">Nom entreprise</label>
    <input name="nom" id="nom" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <label for="adresse">Adresse</label>
    <input name="adresse" id="adresse" required>
    <label for="password_">Password</label>
    <input type="password" name="password_" id="password_" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}